/* ===============================================
  Element Styles
  ================================================ */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4c4c4c;
  background: #f8fdf3;
}


/* App style*/
.App {
  width: 100%;
  padding: 10px;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #fcfcfc;
  -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .20);
  box-shadow: 0 0 26px rgba(0, 0, 0, .20);
}

/* header element style*/
header {
  text-align: center;
  background:linear-gradient(90deg, #d4eece, #1e7eb7),
    url(./images/header-bg.jpg) no-repeat;
 background-blend-mode: multiply;
  background-size: cover;
  padding: 2em;
}

form {
  width: 95%;
  margin: 2.5em auto;
  background: white;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  border-radius: .2em;
  border: solid 4px white;
  -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
}

form > input {
  padding: 12px;
  font-size: 1.15em;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 3.6em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  line-height: .65;
  margin-top: .3em;
  margin-bottom: 0;
}


form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: .2em;
}


h1,
form button {
  color: white;
}

form button {
  padding: 12px 0;
  margin-top: .5em;
}


/* main element style */
.main {
  padding: 2em 1em .75em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.35em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}

ul li {
  padding: 1em;
  background: #fff;
  border-radius: .2em;
  border: solid 1px rgba(88, 183, 205, .15);
}

li + li {
  margin-top: 0.51em;
}

button {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}

.counter {
  margin-top: 1.65em;
  padding-top: 1.5em;
  border-top: 1px dotted rgba(0, 0, 0, .15);
}

table tr {
  display: inline-block;
  padding-right: 1em;
}

li label {
  display: block;
  font-size: .9em;
  color: rgba(112,112,112,.60);
}


/* pending */

.pending {
  border-color: rgba(210, 210, 210, .5);
}

.pending span {
  color: rgb(210, 210, 210);
}

/* responded */

.responded {
  border-color: rgba(88, 183, 205, .9);
}

.responded label {
  color: rgba(88, 183, 205, 1);
}


/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
 form {
   width: 60%;
   flex-direction: row;
 }
 form button {
   padding: 0 1em;
   margin-top: 0;
 }

 header {
   background-position: 0 -90px;
 }

 .main > div {
   float: left;
 }
 .counter {
   float: right;
   margin-top: 0em;
   padding-top: 0em;
   border-top: none;
 }
 table tr {
   display: block;
   padding: 0 12px 0 0;
 }

 ul {
   clear: both;
   display: flex;
 }
 ul li {
  flex-grow: 1 0 47%;
 }




}
